/* Start Global Rules*/
:root {
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --Green: hsl(75, 94%, 57%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: inter;
  src: url(./fonts/Inter-VariableFont_slnt\wght.ttf);
  src: url(./fonts/static/Inter-SemiBold.ttf);
  src: url(./fonts/static/Inter-Bold.ttf);
  src: url(./fonts/static/Inter-Regular.ttf);
}
body {
  font-family: inter;
  background-color: var(--Off-Black);
  color: var(--White);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
p {
  font-size: 14px;
}
#container {
  border-radius: 4%;
  width: 22rem;
  background-color: var(--Dark-Grey);
  padding: 1.5rem 1.5rem 0.5rem;
}
@media (max-width: 375px) {
  #container {
    margin: 4rem auto 0;
  }
}
/* End Global Rules*/
/* Start bio*/
#bio {
  text-align: center;
}
#container #bio img {
  width: 6rem;
  border-radius: 50%;
}
#bio h1 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  font-weight: 400;
}
#bio h1 + p {
  text-transform: capitalize;
  color: var(--Green);
  margin: 0.1rem 0 2rem;
}
#bio p:last-of-type {
  font-weight: 400;
}
/* End bio*/
/* Start links-container */

#links-container a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  background-color: var(--Grey);
  margin: 0.8rem 0;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  font-weight: 700;
}
#links-container a:hover {
  color: var(--Grey);
  background-color: var(--Green);
  cursor: pointer;
}
/* End links-container */
/*My Info*/
.attribution {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.attribution a {
  text-decoration: none;
  color: var(--Green);
  transition: 0.2s ease;
}
.attribution a:hover {
  font-size: 1.1rem;
}
@media (max-width: 376px) {
  .attribution {
    font-size: 0.8rem;
  }
}
/**/
